* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #A9C8C9; /* Menta */
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #6F8FB7; /* Azul */
}

.logo img {
    width: 50px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white; /* Contraste con azul */
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.nav a:hover {
    color: #E69686; /* Coral al pasar el mouse */
}

.icons span {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

/* LAYOUT */
.container {
    display: flex;
    padding: 40px;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
}

.sidebar h3 {
    margin-bottom: 20px;
    cursor: pointer;
    color: #6F8FB7; /* Azul */
    transition: 0.3s ease;
}

.sidebar h3:hover {
    color: #E69686; /* Coral */
}

.search input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #6F8FB7;
    outline: none;
}

.search input:focus {
    border-color: #E69686;
}

/* PRODUCTS */
.products {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    background: white;
    padding: 20px;
    transition: 0.3s ease;
    border-radius: 8px;
}

.card img {
    width: 100%;
    margin-bottom: 15px;
}

.card h4 {
    font-weight: 500;
    margin-bottom: 10px;
    color: #222;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #E69686; /* Coral */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
